html,body{
  margin: 0px;
  width:100%;
  height:100%;
}

body {
  background-color: white;
}

.container {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex: 0 0 100px;
}

.level-select-group {
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
}

.level-select-label {
  margin-bottom: 5px;
}

.level-select {
  margin-bottom: 12px;
}

.input-spacer {
  flex: 0 0 60px;
}

.answer-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  margin: 10px 5px;
  padding: 15px;
}

.incorrect-answer {
  background: #f08e91;
}

.correct-answer {
  background: #8bee9f;
}

#canvas {
  width: 100%;
  height: 100%;
  overflow: auto;
}