html,body{
  margin: 0px;
  width:100%;
  height:100%;
}

body {
  background-color: white;
}

.container {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  padding: 32px;
  display: flex;
  flex-direction: row;
  flex: 0 0 100px;
}

button {
  margin: 12px;
}

label {
  margin-top: 12px;
}

select {
  margin-bottom: 12px;
}

input {
  margin-bottom: 12px;
}

#canvas {
  width: 100%;
  height: 100%;
  overflow: auto;
}