html,body{
  margin: 0px;
  width:100%;
  height:100%;
}

body {
  background-color: white;
}

.container {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex: 0 0 150px;
}

.overflow-container {
  flex: 1;
  height: 100vh;
  overflow: auto;
}

.inputs {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.tweak-panel {
  display: flex;
  flex-direction: column;
}

.canvas-wrapper {
  flex: 1 1 25%;
  align-self: stretch;
  overflow: hidden;
}

.canvas-2d-wrapper {
  flex: 1 1 75%;
  align-self: stretch;
  overflow: hidden;
}

#canvas {
  display: block;
}

#canvas2d {
  display: block;
}

button, input, select {
  margin-bottom: 15px;
}
